@font-face {
	font-family: 'alpha-echo';
	src: url('../fonts/alpha-webfont.woff2') format('woff2'),
	url('../fonts/alpha-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'League Gothic Regular';
	src: url('../fonts/leaguegothic-regular-webfont-webfont.woff2') format('woff2'),
	url('../fonts/leaguegothic-regular-webfont-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans Regular';
	src: url('../fonts/pts55f-webfont.woff2') format('woff2'),
	url('../fonts/pts55f-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'PTSans Italic';
	src: url('../fonts/pts56f-webfont.woff2') format('woff2'),
	url('../fonts/pts56f-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans Bold';
	src: url('../fonts/pts75f-webfont.woff2') format('woff2'),
	url('../fonts/pts75f-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans Bold Italic';
	src: url('../fonts/pts76f-webfont.woff2') format('woff2'),
	url('../fonts/pts76f-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*{
	background: #000 !important;
	color: #0f0 !important;
	outline: solid #f00 1px !important;
}*/
.max-width {
	max-width: 75rem !important;
}
.no-padding {
	padding: 0;
}
.btn {
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	background-color: #800d1c;
	font-family: 'Open Sans';
	font-weight: 600;
	text-transform: uppercase;
	color: white;
	padding: 20px 30px;
	border-radius: 5px;
	min-width: 180px;
	max-width: 100%;
}
.btn:hover {
	transform: scale(1.05);
}
.btn.video {
	padding: 30px 50px;
	width: 280px;
	max-width: 100%;
}
.top-bar {
	padding: 30px;
	background-color: transparent;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
.top-bar img {
	float: left;
	min-width: 80px;
}
.top-bar button {
	float: right;
}
#bt-scroll-header {
	margin-top: 10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#bt-scroll-header:hover {
	cursor: pointer;
}
.header {
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/MDP-action/passerelles-davenir/2018/bg-header.jpg');
	background-position: 20% 35%;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	text-align: center;
	padding: 20px;
}
.header img {
	margin-top: 10%;
	margin-bottom: 50px;
}
.header h1 {
	font-family: 'PTSans Bold', sans-serif;
	color: white;
	font-size: 42px;
	text-transform: uppercase;
	line-height: 1.2;
	margin-bottom: 0;
}
.header p {
	font-family: 'PTSans Regular', sans-serif;
	font-weight: 500;
	color: white;
	font-size: 24px;
	line-height: 1.2;
	margin-top: 6%;
	margin-bottom: 20px;
}

#video1 {
	position: relative;
	min-height: 100vh;
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/MDP-action/passerelles-davenir/2018/bg-video-1.jpg');
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: white;
}
#video1:hover,
#video2:hover {
	cursor: pointer;
}
#video2 {
	position: relative;
	min-height: 100vh;
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/MDP-action/passerelles-davenir/2018/bg-video-2.jpg');
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: white;
}
.video:hover {
	cursor: pointer;
}
.video iframe {
	width: 100%;
	min-height: 100vh;
	z-index: 999;
	display: none;
}
.video .container-text {
	position: absolute;
	margin: 0 auto;
	bottom: 16%;
	left: 0;
	right: 0;
}
.video .container-text p {
	font-family: 'PTSans Bold', sans-serif;
	color: white;
	font-size: 42px;
	text-transform: uppercase;
	line-height: 1.2;
	margin-bottom: 0;
}
#dispositif {
	padding: 10px;
}
#dispositif .title {
	padding: 10px;
	margin: 40px 0;
}
#dispositif .title h2 {
	font-family: 'PTSans Bold', sans-serif;
	color: #800d1c;
	font-size: 42px;
	text-transform: uppercase;
	line-height: 1.2;
}
#dispositif .box-container {
	margin-bottom: 10%;
}
#dispositif .box {
	position: relative;
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
}
.shadow {
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.shadow-w-top {
	-webkit-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.75);
}
#dispositif .box > div {
	padding: 20px;

}
#dispositif .box:hover {
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
#dispositif .box .close {
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
}
#dispositif .box p {
	margin-top: 10px;
	font-family: 'PTSans Bold', sans-serif;
	color: #454545;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 1.2;
	margin-bottom: 20px;

}
#dispositif .box .plus {
}

#dispositif .box .to-show {
	display: none;
	width: 100%;
	padding: 20px 40px;
	position: absolute;
	top: 215px;
	margin: 0 auto;
	background-color: white;
}
#dispositif .box .to-show p {
	font-family: 'PTSans Regular', sans-serif;
	text-transform: none;
	color: #484848;

}
#dispositif .box .to-show p span {
	font-family: 'PTSans Bold', sans-serif;
	color: #800d1c;
}
#dispositif .call {
	margin-top: 50px;
	margin-bottom: 50px;
}
#dispositif .call .left p {
	font-family: 'PTSans Bold', sans-serif;
	color: #800d1c;
	font-size: 24px;
	line-height: 1.2;
	margin: 10px 0;
}
#dispositif .call .right p {
	font-family: 'PTSans Regular', sans-serif;
	color: #454545;
	font-size: 15px;
	line-height: 1.2;
	margin: 10px 0;
}
#dispositif .call .right button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 14px;
	line-height: 1.2;
	margin: 10px 0;
}



#ifi {
	position: relative;
	padding: 50px 10px;
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/MDP-action/passerelles-davenir/2018/bg-ifi.jpg');
	background-position: 50% 0%;
	background-size: cover;
	background-repeat: no-repeat;
}
#ifi .left p {
	font-family: 'PTSans Bold', serif;
	color: white;
	font-size: 40px;
	line-height: 1.3;
	text-transform: uppercase;
}
#ifi .right p {
	font-family: 'PTSans Regular', serif;
	font-weight: 100;
	color: white;
	font-size: 20px;
	line-height: 1.1;
}

.box-expanded {
	border-top: 1px solid #b7b7b7;
	text-align: center;
	padding: 40px;
}
.box-expanded p {
	font-family: 'PTSans Bold', serif;
	color: #800d1c;
	font-size: 24px;
	line-height: 1.3;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 10px;
}
.arrow.up {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	position: absolute;
	bottom: -28px;
	left: 49%;
}
.arrow:hover {
	cursor: pointer;
}
.down:hover {
	cursor: pointer;
}
.hidden {
	position: relative;
	max-width: 100%;
	text-align: center;
	margin: 0 auto;
	display: none;
	padding-bottom: 30px;
}
.hidden h6 {
	margin-bottom: 60px;
	margin-top: 10px;
}
.hidden.deux h6 {
	font-weight: bold;
}
.hidden.deux p,
.hidden.trois p,
.hidden.quatre p{
	margin-top: 20px;
	font-family: 'PTSans Regular', serif;
	font-size: 15px;
	color: black;
	text-transform: none;
}
.hidden.trois p {
	margin-top: 30px;
}
.hidden.trois img {
	display: block;
	margin: 10px auto;
}
.hidden.un h6 {
	font-family: 'PTSans Bold', serif;
	font-size: 16px;
}



#impots {
	padding: 40px 10px;
	border-top: 3px solid #b7b7b7;
}

#impots h6 {
	font-family: 'PTSans Bold', serif;
	color: #800d1c;
	font-size: 24px;
	line-height: 1.3;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 10px;
}

#impots p {
	margin-top: 20px;
	font-family: 'PTSans Regular', serif;
	font-size: 15px;
	color: black;
	text-transform: none;
}




.row.don {
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/MDP-action/passerelles-davenir/bg-don.jpg');
	background-position: 57% 43%;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 20px;
	padding-top: 180px;
	padding-bottom: 100px;
}
.row.don h1,
.row.don h2 {
	font-family: 'PTSans Bold', serif;
	font-size: 38px;
	color: white;
	text-transform: uppercase;
	line-height: 1.2;
}
.row.don h2 {
	font-size: 20px;
	margin-bottom: 30px;
}


.don-choice {
	background-color: #ebebeb;
	height: 150px;

}
.don-choice div {
	height: 100%;
	position: relative;
	display: inline-block;
	border-right: 1px solid #acacac;
}
.don-choice div:hover {
	cursor: pointer;
}
.don-choice div img {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 30px
}
.don-choice div p {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	font-family: 'PTSans Bold', serif;
	color: #800d1c;
	font-size: 32px;
	line-height: 1;
	text-transform: uppercase;
	bottom: 40px;
}
.don-choice div:last-child {
	border-right: none;
}

.don-choice div:last-child p {
	bottom: 20px;
	font-size: 26px;
}

.don-choice div.active {
	background-color: #800d1c;
}
.don-choice div.active p {
	color: #ebebeb;
}
.don-choice div.active img {
	content: url("https://s3.amazonaws.com/heroku-adfinitas-campaign/MDP-action/passerelles-davenir/2018/dot-full.png");
}
.don-display {
	background-color: white;
	padding: 30px;
}
.don-display h6 {
	font-family: 'PTSans Bold', serif;
	color: #800d1c;
	font-size: 21px;
	line-height: 1;
	margin-bottom: 20px;
}
.don-display p {
	font-family: 'PTSans Bold', serif;
	color: #1e1e1e;
	font-size: 21px;
	line-height: 1.2;
}
.don-other {
	padding-top: 20px;
	display: none;
}
.don-other * {
	display: inline-block;
}
.don-other p {
	font-family: 'PTSans Regular', serif;
	color: #353535;
	font-size: 20px;
}
.don-other input {
	max-width: 200px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.don-other .soit {
	display: block;
}
.don-other .soit p {
	display: block;
	font-family: 'PTSans Regular', serif;
	color: #980f21;
	font-size: 20px;
}

.row.button {
	padding: 25px 5px;
	width: 100%;
	background-color: #980f21 !important;
}
.row.button p {
	font-family: 'PTSans Bold', serif;
	color: white;
	font-size: 26px;
	text-transform: uppercase;
	margin: 0;
	line-height: 1.2;
}











.other-don {
	font-family: 'PTSans Regular', serif;
	font-size: 24px;
	color:white;
	display: block;
	margin-top: 30px;
	text-transform: uppercase;
	text-decoration: underline;
}
.other-don:hover {
	color: white;
	text-decoration: none;
}

#engagement {
	padding-top: 60px;
	padding-bottom: 30px;
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/MDP-action/passerelles-davenir/2018/footer-bg.jpg');
	background-position: 26% 43%;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
#engagement .container {
	margin-bottom: 15px;
}
#engagement .container h3 {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	margin-right: 20px;
	font-family: 'PTSans Regular', serif;
	color:white;
	line-height: 1;
}
#engagement .begin h5 {
	font-family: 'PTSans Regular', serif;
	color:white;
	line-height: 1;
	margin-top: 10px;
	margin-bottom: 40px;
}
.icon-footer {
	margin-bottom: 30px;
}
.icon-footer p {
	font-family: 'PTSans Regular', serif;
	color:white;
	line-height: 1.1;
	font-size: 18px;
	margin-top: 10px;
}
#engagement .inline * {
	display: inline-block;
}
#engagement .inline .left p {
	vertical-align: middle;
	font-family: 'PTSans Regular', serif;
	color:white;
	line-height: 1.1;
	text-transform: uppercase;
	margin: 0;
}
#engagement .inline .left img {
	margin-right: 10px;
}
#engagement .inline .sep {
	margin: 5px 40px;
}
#engagement .inline .right p {
	vertical-align: middle;
	font-family: 'PTSans Regular', serif;
	color:white;
	line-height: 1.1;
	margin: 0;
}
#engagement .end-engagement {
	margin-top: 40px;
}
#engagement .end-engagement h3 {
	font-family: 'PTSans Bold', serif;
	color:white;
	line-height: 1.1;
	text-transform: uppercase;
}
#engagement .end-engagement p {
	margin-top: 15px;
	font-family: 'PTSans Regular', serif;
	color:white;
	line-height: 1.1;
	font-size: 18px;
}
#engagement .end-engagement .savoir-plus * {
	display: inline-block;
}
#engagement .end-engagement .savoir-plus p {
	font-family: 'PTSans Bold', serif;
	color:white;
	line-height: 1.1;
	text-transform: uppercase;
	font-size: 14px;
	margin-left: 5px;
}
footer {
	background: #2b2b2b;
	color: #7a7a7a;
}

footer h3  {
	display: inline-block;
	margin: 20px;
	font-size: 18px;
	color: #7a7a7a !important;
}
@media screen and (max-height: 700px) {
	.video .container-text {
		bottom: 5%;
	}
}
@media screen and (max-width: 640px) {
	.header img {
		max-width: 100px;
	}
	.top-bar {
		padding: 15px;
		position: absolute;
		top: 0;
	}
	.header {
		padding-top: 80px;
		background-position: 5% 30%;
	}
	.header h1 {
		font-size: 24px;
	}
	.header h2 {
		font-size: 18px;
	}
	.header p {
		font-size: 18px;
	}
	.video .text-columns h3 {
		font-size: 36px;
	}
	.row.soutenir h1 {
		font-size: 35px;
	}
	.box-expanded {
		padding: 5px;
		padding-top: 20px;
		margin-bottom: 35px;
	}
	.row.don {
		background-position: 40% 43%;
	}
	#dispositif .box .to-show {
		position: static;
	}
	.video .container-text p {
		font-size: 20px;
	}
	#video2 {
		background-image: url("https://s3.amazonaws.com/heroku-adfinitas-campaign/MDP-action/passerelles-davenir/2018/bg-video-2-small.jpg");
	}
	.don-choice {
		height: auto;
	}
	.don-choice div {
		width: 100%;
		height: 100px;
		border: none;
	}
	.don-choice div img {
		top: 15px;
	}
	.don-choice div p {
		bottom: 10px;
	}
	.don-other input {
		max-width: 75px;
	}
	#engagement .inline .left p {
		margin-top: 10px;
	}
	#engagement .inline .right {
		margin-top: 20px;
	}
	#engagement .end-engagement {
		margin-top: 20px;
	}
}