@font-face {
	font-family: 'alpha-echo';
	src: url('../fonts/alpha-webfont.woff2') format('woff2'),
	url('../fonts/alpha-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'League Gothic Regular';
	src: url('../fonts/leaguegothic-regular-webfont-webfont.woff2') format('woff2'),
	url('../fonts/leaguegothic-regular-webfont-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans Regular';
	src: url('../fonts/pts55f-webfont.woff2') format('woff2'),
	url('../fonts/pts55f-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'PTSans Italic';
	src: url('../fonts/pts56f-webfont.woff2') format('woff2'),
	url('../fonts/pts56f-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans Bold';
	src: url('../fonts/pts75f-webfont.woff2') format('woff2'),
	url('../fonts/pts75f-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans Bold Italic';
	src: url('../fonts/pts76f-webfont.woff2') format('woff2'),
	url('../fonts/pts76f-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*{
	background: #000 !important;
	color: #0f0 !important;
	outline: solid #f00 1px !important;
	}*/
	.max-width {
		max-width: 75rem !important;
	}
	.btn {
		transition: all .1s ease-in-out;
		-webkit-transition: all .1s ease-in-out;
		-moz-transition: all .1s ease-in-out;
		-o-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		background-color: #800d1c;
		font-family: 'Open Sans';
		font-weight: 600;
		text-transform: uppercase;
		color: white;
		padding: 20px 30px;
		border-radius: 5px;
		min-width: 180px;
		max-width: 100%;
	}
	.btn:hover {
		transform: scale(1.05);
	}
	.btn.video {
		padding: 30px 50px;
		width: 280px;
		max-width: 100%;
	}
	.top-bar {
		padding: 30px;
		background-color: transparent;
		position: fixed;
		width: 100%;
		z-index: 9999;
	}
	.top-bar img {
		float: left;
	}
	.top-bar button {
		float: right;
	}
	#bt-scroll-header {
		display: block;
		transform: scale(2);
		margin-left: auto;
		margin-right: auto;
	}
	#bt-scroll-header:hover {
		cursor: pointer;
	}
	.header {
		background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/MDP-action/passerelles-davenir/bg-header.jpg');
		background-position: 20% 35%;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 100vh;
		text-align: center;
		padding: 20px;
	}
	.header img {
		margin-top: 5%;
		margin-bottom: 20px;
	}
	.header h1 {
		font-family: 'PTSans Bold';
		color: white;
		font-size: 64px;
		text-transform: uppercase;
		line-height: 1.2;
		margin-bottom: 0;
	}
	.header h2 {
		font-family: 'PTSans Regular';
		font-weight: 500;
		color: white;
		font-size: 24px;
		text-transform: uppercase;
		line-height: 1.2;
		margin-bottom: 0;
	}
	.header p {
		font-family: 'PTSans Regular';
		font-weight: 500;
		color: white;
		font-size: 22px;
		line-height: 1.2;
		margin-top: 6%;
		margin-bottom: 20px;
	}
	.video .text-columns{
		padding: 40px 0px;
		padding-right: 30px;
	}
	.video .text-columns h3 {
		font-family: 'PTSans Bold';
		color: #800d1c;
		font-size: 40px;
		line-height: 1.3;
		text-transform: uppercase;
	}
	.video .text-columns p {
		font-family: 'PTSans Regular';
		font-size: 20px;
		line-height: 1.3;
		color: black;
	}
	#don-confiance {
		max-width: 50px;
		margin-left: 10px;
	}
	#don-confiance-footer {
		max-width: 70px;
		margin-top: 15px;
	}
	.video .video-columns {
		background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/MDP-action/passerelles-davenir/bg-video.jpg');
		background-repeat: no-repeat;
		position: relative;
	}
	#video {
		position: absolute;
		width: 450px;
		max-width: 100%;
		height: 300px;
		bottom: 40px;
		left: 20px;
	}
	.box-expanded {
		border-top: 1px solid black;
		text-align: center;
		padding: 40px;
	}
	.box-expanded p {
		font-family: 'PTSans Bold';
		color: #800d1c;
		font-size: 20px;
		line-height: 1.3;
		text-transform: uppercase;
		margin-bottom: 10px;
		margin-top: 5px;
	}
	.arrow.up {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		position: absolute;
		bottom: -28px;
		left: 49%;
	}
	.arrow:hover {
		cursor: pointer;
	}
	.inline {
		padding-bottom: 30px;
	}
	.inline * {
		display: inline-block;
		font-family: 'PTSans Bold';
		font-size: 15px;
		color: #800d1c;
	}
	.inline img {
		margin-left: 20px;
		margin-right: 5px;
	}
	.down:hover {
		cursor: pointer;
	}
	.hidden {
		position: relative;
		width: 400px;
		max-width: 100%;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
		display: none;
		margin-top: 15px;
		border-top: 3px solid #800d1c;
		border-bottom: 3px solid #800d1c;
		padding-top: 20px;
	}
	.hidden.deux {
		width: 500px;
		text-align: center;
	}
	.hidden.deux h6 {
		font-weight: bold;
	}
	.hidden.trois h6.orange {
		color: #f36b11;
	}
	.hidden.deux p,
	.hidden.trois p {
		margin-top: 10px;
		font-family: 'PTSans Regular';
		font-size: 15px;
		color: black;
		text-transform: none;
	}
	.hidden.trois {
		text-align: center;
	}
	.hidden.trois p {
		margin-top: 30px;
		font-size: 12px;
	}
	.hidden.trois p span {
		color: #f36b11;
		font-family: 'PTSans Bold';
	}
	.hidden.trois p span.red {
		color: #800d1c;
	}
	.hidden.un ul {
		margin-left: 0px;
		list-style: none;
	}
	.hidden.un h6 {
		font-family: 'PTSans Bold';
		font-size: 16px;
	}
	.hidden.un li {
		font-family: 'PTSans Regular';
		font-size: 15px;
	}
	.hidden.un li::before {
		content: "• ";
		color: #800d1c;
		font-size: 20px;
	}

	.row.don {
		background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/MDP-action/passerelles-davenir/bg-don.jpg');
		background-position: 57% 43%;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		padding: 20px;
		padding-top: 180px;
		padding-bottom: 100px;
	}
	.row.don h1, 
	.row.don h2 {
		font-family: 'PTSans Bold';
		font-size: 38px;
		color: white;
		text-transform: uppercase;
		line-height: 1.2;
	}
	.row.don h2 {
		font-size: 20px;
		margin-bottom: 30px;
	}
	.box-don-container {
		transition: all .1s ease-in-out;
		-webkit-transition: all .1s ease-in-out;
		-moz-transition: all .1s ease-in-out;
		-o-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		margin-top: 10px;
		margin-right: 10px;
		background-color: white;
		display: inline-block;
		max-width: 100%;
		width: 250px;
		text-align: center;
		color: #980f21;
	}
	.box-don-container:hover {
		transform: scale(1.03);
	}
	.box-don {
		padding: 35px;
		padding-bottom: 10px;
	}
	.box-don img {
		max-width: 100px;
	}
	.box-don h3 {
		font-family: 'PTSans Bold';
		font-size: 38px;
		margin-bottom: 0;
		line-height: 1.2;
	}
	.box-don h4 {
		font-family: 'PTSans Regular';
		font-size: 10px;
		font-weight: 600;
		line-height: 1.2;
	}
	.box-don p {
		margin-top: 10px;
		font-family: 'PTSans Regular';
		font-size: 12px;
		color: #1e1e1e;
		font-weight: 600;
		line-height: 1.3;
	}
	.box-don-container .btn-don {
		width: 100%;
		background-color: #980f21;
	}
	.box-don-container .btn-don  p{
		margin-bottom: 0;
		color:white;
		font-family: 'PTSans Regular';
		font-size: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
		text-transform: uppercase;
	}
	.other-don {
		font-family: 'PTSans Bold';
		font-size: 12px;
		color:white;
		display: block;
		margin-top: 30px;
		text-transform: uppercase;
		text-decoration: underline;
	}
	.other-don:hover {
		color: white;
		text-decoration: none;
	}
	.row.soutenir {
		background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/MDP-action/passerelles-davenir/bg-soutenir.jpg');
		background-position: 57% 43%;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		padding: 10px;
		padding-bottom: 80px;
		padding-top: 30px;
	}
	.row.soutenir h1 {
		font-family: 'PTSans Bold';
		font-size: 42px;
		color: white;
		text-transform: uppercase;
		line-height: 1.2;
		border-bottom: 5px solid white;
		width: 541px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.btn-soutenir {
		margin-top: 15px;
		width: 541px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		background-color: white;
	}
	.btn-soutenir p {
		font-family: 'PTSans Bold';
		font-size: 12px;
		color: #980f21;
		text-transform: uppercase;
		margin-bottom: 0;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.container-box-soutenir {
		margin-left: auto;
		margin-right: auto;
		border-bottom: 5px solid white;
		width: 541px;
		max-width: 100%;

	}
	.box-soutenir {
		text-align: left;
		display: inline-block;
		text-transform: uppercase;
		font-family: 'PTSans Regular';
		color: white;
	}
	.box-soutenir.un p {
		font-size: 32px;
		margin-bottom: 0;
		line-height: 1.0;
	}
	.box-soutenir.deux p {
		font-family: 'PTSans Bold';
		font-size: 125px;
		margin-bottom: 0;
		line-height: 1.0;
	}
	.box-soutenir.deux p:nth-child(1) {
		letter-spacing: -10px;
	}
	.box-soutenir.deux p:nth-child(2) {
		vertical-align: top;
		margin-top: 12px;
		font-size: 55px;
	}
	.box-soutenir.deux * {
		display: inline-block;
	}

	.box-soutenir.trois {
		margin-left: 10px;
	}
	.box-soutenir.trois div * {
		display: inline-block;
	}
	.box-soutenir.trois div img {
		margin-bottom: 3px;
	}
	.box-soutenir.trois div p {
		margin-bottom: 0px;
	}
	.box-soutenir.trois div:nth-child(2) img {
		margin-left: 3px;
	}
	.box-soutenir.trois div:nth-child(3) img {
		margin-left: 4px;
	}
	.box-soutenir.trois div:nth-child(3) p {
		margin-left: 4px;
	}
	.box-soutenir.trois div:nth-child(4) img {
		margin-left: 6px;
	}
	.box-soutenir.trois div:nth-child(4) p {
		margin-left: 5px;
	}
	
	footer {
		max-width: 100%;
		padding-top: 40px;
		background: #2b2b2b;
		color: #7a7a7a;
	}

	footer > .row{
		max-width: 900px;
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px solid #252525;
	}

	footer > .row > .columns:first-child{
		bord
	}

	.footer-redir
	{
		display: inline-block;
		margin: 20px;
		font-size: 18px;
		color: #7a7a7a !important;
	}

	.footer-redir > img
	{
		display: inline-block;
	}

	.block-footer
	{
		margin-top: 25px;
	}

	.block-footer-link {
		display: inline;
	}

	.text-footer-link {
		font-size: 14px;
		color: white;
		display: inline-block;
		margin: 0;
		margin-bottom: 15px;
	}

	.text-footer-title
	{
		text-transform: uppercase;
		line-height: 1.2;
		font-size: 35px;
		margin-bottom: 10px;
		font-family: 'League Gothic Regular';
	}

	.text-footer-para
	{
		line-height: 1.2;
		margin-bottom: 10px;
		font-family: 'Arial';
		font-weight: 500;
	}

	.img-footer-link {
		max-width: 15px;
		display: inline-block;
	}

	@media screen and (max-width: 640px) {
		.top-bar {
			padding: 15px;
			position: absolute;
			top: 0;
		}
		.header {
			padding-top: 80px;
			background-position: 5% 30%;
		}
		.header h1 {
			font-size: 34px;
		}
		.header h2 {
			font-size: 20px;
		}
		.header p {
			font-size: 18px;
		}
		.video .text-columns h3 {
			font-size: 36px;
		}
		.row.soutenir h1 {
			font-size: 35px;
		}
		.video .text-columns{
			padding: 20px;
			padding-bottom: 40px;
		}
		.video .video-columns {
			background-position: 100% 20%;
		}
		.box-expanded {
			padding: 5px;
			padding-top: 20px;
			margin-bottom: 35px;
		}
		.row.don {
			background-position: 40% 43%;
		}
		#video {
			width: 400px;
			max-width: 100%;
			height: 300px;
			bottom: 20px;
			left: 0px;
		}
	}