@font-face {
	font-family: 'League Gothic Condensed Regular';
	src: url('../fonts/leaguegothic-condensed-regular-webfont.ttf') format("truetype");
}

@font-face {
	font-family: 'League Gothic Condensed Italic';
	src: url('../fonts/leaguegothic-condensed-italic-webfont.ttf') format("truetype");
}

@font-face {
	font-family: 'League Gothic Italic';
	src: url('../fonts/leaguegothic-italic-webfont.ttf') format("truetype");
}

@font-face {
	font-family: 'League Gothic';
	src: url('../fonts/leaguegothic-regular-webfont.ttf') format("truetype");
}

@font-face {
	font-family: 'Museo';
	src: url('../fonts/Museo300-Regular.otf') format("opentype");
	font-weight: 300;
}

@font-face {
	font-family: 'Museo';
	src: url('../fonts/Museo500-Regular.otf') format("opentype");
	font-weight: 500;
}

@font-face {
	font-family: 'Museo';
	src: url('../fonts/Museo700-Regular.otf') format("opentype");
	font-weight: 700;
}
.bold
{
	font-weight: bold;
}
a
{
	cursor: pointer !important;
}
/*
* {
background: #000 !important;
color: #0f0 !important;
outline: solid #f00 1px !important;
}
*/
/*
body, html {
	height:100%;
	overflow: hidden;
}
*/
#block-logo {
	padding-top: 12px;
}

#block-btn-large,
#block-btn-small {
	padding-top: 30px;
}
#logo {
	max-width: 60px;
}

.title,
.sub-text {
	line-height: 1.2;
	margin: 0;
	font-family: 'Museo';
	font-weight: 700;
	color: #800d1c;
}

.sub-text {
	text-transform: uppercase;
	color: #4f4f4f;
	padding-bottom: 10px;
}

#slide-coeur {
	max-width: 100%;
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/mdp-lp-noel-2016/bg-slide-dec.jpg');
	padding-top: 50px;
	padding-bottom: 10px;
	text-align: center
}

.btn-custom {
	background: #800d1c;
	border-radius: 5px;
}

.button.btn-custom:hover,
.button.btn-custom:focus {
	background: #800d1c;

}

#footer {
	max-width: 100%;
	padding-top: 40px;
	background: #2b2b2b;
	color: #7a7a7a;
}

#footer > .row{
	max-width: 900px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #252525;
}

#footer > .row > .columns:first-child{
	bord
}

.footer-redir
{
	display: inline-block;
	margin: 20px;
	font-size: 18px;
	color: #7a7a7a !important;
}

.footer-redir > img
{
	display: inline-block;
}

.block-footer
{
	margin-top: 25px;
}

.block-footer-link {
	display: inline;
}

.text-footer-link {
	font-size: 14px;
	color: white;
	display: inline-block;
	margin: 0;
	margin-bottom: 15px;
}

.text-footer-title
{
	text-transform: uppercase;
	line-height: 1.2;
	font-size: 35px;
	margin-bottom: 10px;
	font-family: 'League Gothic';
}

.text-footer-para
{
	line-height: 1.2;
	margin-bottom: 10px;
	font-family: 'Arial';
	font-weight: 500;
}

.img-footer-link {
	max-width: 15px;
	display: inline-block;
}

.text-normal {
	font-family: 'Museo';
	font-weight: 300;
	color:; #2f2f2f;
	font-size: 17px;
}

#slide-don {
	padding: 25px 0 25px 0;
}

#text-video {
	font-family: 'Helvetica';
	font-weight: bold;
	color: white;
	position: absolute;
	display: block;
	height: 40px;
	width: 440px;
	top: 130px;
}

#cta-video {
	position: absolute;
	display: block;
	height: 40px;
	width: 200px;
}

#bg-left {
	padding-top: 80px;
	padding-bottom: 30px;
	flex: 1;
	background: #800d1c;
}

#bg-right {
	flex: 1; 
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/mdp-lp-noel-2016/bg-rencontrer.jpg');
	background-position: 50% 90%;
	background-size: center;
	background-repeat: no-repeat;
}

#text1-bg-left,
#text2-bg-left,
#text3-bg-left {
	text-transform: uppercase;
	font-family: 'Museo';
	font-weight: 700;
	font-size: 30px;
	color: white;
	line-height: 1.1;
}

#text2-bg-left {
	text-transform: none;
	color: #ffe033;
	font-size: 16px;
	font-weight: 300;
}
#text3-bg-left {
	text-transform: none;
	color: #ffe033;
	font-size: 16px;
}

#chevron-bg-left:hover,
#chevron-slide-coeur:hover {
	transform: scale(1.25);
}

#div-btn-header {
	border-radius: 3px;
	border: 1px solid #ffd800; 
	text-align: center; 
	padding: 0px; 
	padding-top: 8px; 
	padding-bottom: 1px
}

#div-btn-header:hover {
	background: #ffd800;
	color: black;
} 

#text-btn-header {
	color: white; 
	font-size: 16px; 
	font-family: 'Open Sans Condensed'; 
	padding-top: 3px;
	font-weight: 700;
}

#video-header { 
	position: relative;
	width: 100%;
}

#container-video-header {
	max-width: 100%; 
	margin: 0; 
	padding: 0; 
	position: relative;
}

#espace-bienvenue
{
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/mdp-lp-noel-2016/bg-slide-dec.jpg');
	background-size: cover;
	background-position: center;
}

.espace-block
{
	display: inline-block;
	margin: 5px;
	vertical-align: top;
}

.espace-block:nth-child(1) > img
{
	height: 120px;
	padding-right: 20px;
}

.espace-info
{
	padding-top: 16px;
}

.espace-block-text
{
	max-width: 170px;
	line-height: 1.2;
	font-family: 'Museo';
	font-weight: 300;
	text-transform: uppercase;
	color: #800d1c;
	margin-top: 10px;
}

.espace-break
{
	display: none;
	line-height: 0px;
}

#don-ampleur
{
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/mdp-lp-noel-2016/bg-last.jpg');
	background-size: cover;
	background-position: center;
}

#don-ampleur-window
{
	display: inline-block;
	width: 100%;
	padding-top: 10px;
	padding-left: 35px;
	padding-right: 35px;
}

#don-ampleur-window > div
{
	display: inline-block;
	text-align: center;
	width: 100%;
	max-width: 1200px;
}

#don-ampleur-window > div > div:first-child
{
	padding: 30px;
}

.text-ampleur-title
{

	line-height: 1;
	display: inline-block;
	color: white;
	font-family: "Museo";
	font-weight: 500;
	font-size: 25px;
	max-width: 300px;
	text-transform: uppercase;
}

.text-ampleur-para
{
	margin-top: 15px;
	line-height: 1;
	color: white;
	font-family: "Museo";
	font-weight: 300;
	font-size: 13px;
	text-transform: uppercase;
}

.price-block
{
	background-color: #e8e8e8;
	padding: 0px;
	padding-top:20px;
	margin-bottom: 10px;
	transition: .2s all;
}

.price-block:hover
{
	transform: scale(1.05);
}

.price-block:nth-child(1)
{ background-color: #e8e8e8 !important; }
.price-block:nth-child(2)
{ background-color: #f2f2f2; }
.price-block:nth-child(3)
{ background-color: white; }

.price-block > div
{
	max-width: 200px;
	display: inline-block;
	font-family: 'Museo';
	padding: 5px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.price-block > div > img
{
	margin-bottom: 30px;
}

.price-block-bold
{
	font-weight: 700;
	font-size: 45px;
	margin-bottom: 4px;
	line-height: 1;
}

.price-block > div > p:nth-child(4)
{
	font-size: 12px;
	margin-bottom: 15px;
	min-height: 30px;
}

.price-block > div > p:nth-child(5)
{
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 15px;
}

.price-block > a > button
{
	color: white;
	width: 100%;
	margin: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: 'Open Sans Condensed';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
}
.price-block:nth-child(1) > a> button
{ background-color: #770917; }
.price-block:nth-child(2) > a> button
{ background-color: #870b1b; }
.price-block:nth-child(3) > a> button
{ background-color: #980f21; }

@media all and (max-width: 700px)
{
	.text-ampleur-title
	{ text-align: center }
}

@media all and (max-width: 700px)
{ 	.espace-break
	{ display: block; }
	.espace-block-text
	{ width: 170px; }
	.espace-info
	{ padding-top: 0px; }
}

@media all and (min-width: 1000px)
{
	#don-ampleur
	{ padding-right: 100px; padding-left: 100px; }
}

@media all and (max-width: 900px)
{ .espace-block:nth-child(1)
	{ width: 100%; margin:0; margin-bottom: 20px}
}

@media all and (max-width: 639px)
{ #don-ampleur-window > div
	{ max-width: 400px}
}

.block-portrait {
	padding: 0;
	position: relative;
}
.second {
	background: #f7f7f7;
}
.block-text {
	padding-top: 40px; 
	position: relative; 
	padding-left: 0; 
	padding-right: 0
}
.slide-portrait {
	max-width: 100%; 
}

.container-img-portrait {
	position: relative;
}
.titre-portrait {
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'Museo';
	font-weight: 700;
	color: white;
	line-height: 1.1;
	position: absolute;
	bottom: 0px;
	left: 25px;
}

.block-footer.left {
	border-left: 1px solid #252525;
}

.block-footer.bottom {
	padding-bottom: 15px;
	border-bottom: 1px solid #252525;
}

.letter-maj {
	font-weight: 700;
	color: #ffd800;
	font-size: 32px;
}

.text-paragraph {
	line-height: 1.3;
	font-style: italic;
}

.sub-titre-portrait {
	font-weight: 300;
}

.block-plus {
	text-align: center;
}
.img-plus {
	margin-top: 30px;
	margin-bottom: 20px;
}

.img-moins {
	margin-top: 30px;
	margin-bottom: 20px;
}
progress[value] {
	/* Reset the default appearance */
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 15px;
	margin-bottom: 10px;
}

progress[value]::-webkit-progress-bar {
	background-color: #ededed;
	border-radius: 10px;
}

progress[value]::-webkit-progress-value {
	background: #ffe033;
	border-radius: 10px; 
}

@media screen and (max-width: 640px) {
	#block-btn-small {
		float: right;
	}
	.block-footer.left {
		border: none;
		padding-bottom: 15px;
		border-top: 1px solid #252525;
		max-width: 640px !important;
	}
	.block-footer.left > h5{
		margin-top: 25px;
	}
	#footer
	{
		padding-left: 25px;
		padding-right: 25px;
	}
	.footer-redir
	{
		width: 100%;
		margin: 10px;
		margin-left: 0px;
		margin-right: 0px;
	}

}